header {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.329);
    padding: 0.5rem;
    position: sticky;
    top: 0;
    background-color:;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: rgb(181, 229, 250);
    /* justify-content: space-between; */
}

#logo {
    height: 50px;
    margin-left: 1.5rem;
}
